<div class="row">
    <h1 class="hrz-center u-full-width"><a class="header-title" href="/">PROJIDEIAS</a></h1>
	<% if(typeof user !== 'undefined') { %>
	<nav class="navbar">
		<div class="container">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="index">Home</a></li>
				<li class="navbar-item"><a class="navbar-link" href="ideas">Ideias</a></li>
				<li class="navbar-item"><a class="navbar-link" href="projects">Projetos</a></li>
				<li class="navbar-item"><a class="navbar-link" href="fastersearch">Buscar</a></li>
				<li class="navbar-item"><a class="navbar-link" href="user?id=<%= user.id %>">Meu Perfil</a></li> <!-- MUDAR AQUI!!! -->
				<li class="navbar-item"><a class="navbar-link" href="logout">Logout</a></li>
			</ul>
		</div>
	</nav>
	<% } %>
	<br />
</div>