<!DOCTYPE html>
<% include ./components/head %>
<html>
    <body>
        <div class="container">
            <% include ./components/header %>
            <h1>Cadastrar Ideia / Sugestão</h1>
			<form id="createIdeaForm">
                <div class="row">
                    <div class="six columns">
                        <label for="title">Título</label>
                        <input class="u-full-width" type="text" id="title" name="title" maxlength="100" placeholder="Título da Ideia aqui..." required>
                    </div>                    
                </div>
                <div class="row">
                    <div class="six columns">
                        <label for="description">Descrição</label>
                        <textarea class="u-full-width" id="description" name="description" maxlength="300" placeholder="Descrição da Ideia aqui..." required></textarea>
                    </div>                    
                </div>
                <button class="button-primary">Cadastrar</button>
            </form>
        </div>    
        <% include ./components/js_includes %>
    </body>
</html>