<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <h1>Ideia Cadastrada com Sucesso!</h1>
			<br />
			<a class="u-pull-left button button-primary" href="ideas"><< Voltar</a>
        </div>
        <% include ./components/css_includes %>
    </body>
</html>