<!DOCTYPE html>
<html>
    <% include ./components/head %>
    <body>
        <div class="container">
            <h1>Ideias</h1>
            <a class="u-pull-right button button-primary"href="createidea">Cadastrar Ideia >></a>
            <form id="filterForm">
                <input name="filter" type="text">
                <button>Filtrar</button>
            </form>            		
            <table id="ideas" class="u-full-width">
                <thead>
                    <tr>
                        <th>Ideia</th>
                        <th>Autor</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <script>
            var filter = function(e) {
                if(e) e.preventDefault();

                var data = $("#filterForm").serialize();
                            
                $.get("api/GetIdeas", data, function(projects, status) {
                    projects = JSON.parse(projects);
                        tbody.children().remove();

                    for(i in projects) {
                        var projectRow = '<tr>'+
                            '<td>'+ projects[i].title +'</td>'+
                            '<td>'+ projects[i].name +'</td>'+
                            '<td>'+ projects[i].description +'</td>'+
                        '</tr>';

                        tbody.append(projectRow);
                    }
                }).fail(function(status) {
                    if(status.status == "404") tbody.children().remove();
                });
            }
        </script>
        <% include ./components/js_includes %>
        <script>
            var tbody = $("#ideas").children("tbody");

            $(function () {
                filter();
            });
        </script>
        <% include ./components/css_includes %>        
    </body>
</html>