<!DOCTYPE html>
<% include ./components/head %>
<html>
    <% include ./components/head %>
    <body>
        <div class="container">
			<% include ./components/header %>
            <h3>Ideia: <span id="title"></span></h3>
            <h4>Autor: <a id="owner"></a></h4>
            <div>Descrição: <span id="description"></span></div>
			<br/><br/>
			<h5>Projetos que usam essa ideia: <span id="totalProjects"></span></h5>
			<table id="projectsUsingIdea" class="u-full-width">
                <thead>
                    <tr>
                        <th>Nome</th>
						<th>Categoria</th>
						<th>Status</th>
                        <th>Líder</th>
                        <th>Descrição</th>
						<th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <% include ./components/js_includes %>
        <script>
            $(function() {
                var params = {
                    id:''
                };

                getParams(params);

                console.log(params);

                $.get("api/GetIdea", params, function(idea, status) {
                    idea = JSON.parse(idea)[0];
                    
                    $("#title").text(idea.title);
                    $("#owner").text(idea.owner).attr("href", "user?id="+idea.ownerid);
                    $("#description").text(idea.description);

                }).fail(function(status) {
                    if(status.status == "404") ;
                });
				
				var tbody = $("#projectsUsingIdea").children("tbody");
				$.get("api/GetProjectsUsingIdea", params, function(projects, status) {
					projects = JSON.parse(projects);
					tbody.children().remove();
					$("#totalProjects").text(projects.length);
					if (projects.length == 0) {
						tbody.parent().remove();
					} else {
						for(i in projects) {
							var projectRow = '<tr>'+
								'<td>'+ projects[i].name +'</td>'+
								'<td>'+ projects[i].type +'</td>'+
								'<td>'+ projects[i].status +'</td>'+
								'<td>'+ projects[i].leader +'</td>'+
								'<td>'+ projects[i].description +'</td>'+
								'<td><a class="button" href="project?id='+ projects[i].id +'">Ver Projeto</a></td>'+
							'</tr>';

							tbody.append(projectRow);
						}
					}
				}).fail(function(status) {
					$("#totalProjects").text(0);
					tbody.parent().remove();
				});
            });
        </script> 
    </body>
</html>