<!DOCTYPE html>
<html>
<% include ./components/head %>
    <% include ./components/head %>
    <body>
        <div class="container">
            <% include ./components/header %>
            <h3>Ideias</h3>
            <a class="u-pull-right button button-primary" href="createidea">Cadastrar Ideia</a>
            <form id="filterForm">
                <input name="filter" type="text">
                <button>Filtrar</button>
            </form>            		
            <table id="ideas" class="u-full-width">
                <thead>
                    <tr>
                        <th>Ideia</th>
                        <th>Autor</th>
                        <th>Descrição</th>
						<th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <script>
            var filter = function(e) {
                if(e) e.preventDefault();

                var data = $("#filterForm").serialize();
                            
                $.get("api/GetFilteredIdeas", data, function(ideas, status) {
                    ideas = JSON.parse(ideas);
                        tbody.children().remove();

                    for(i in ideas) {
                        var projectRow = '<tr>'+
                            '<td>'+ ideas[i].title +'</td>'+
                            '<td>'+ ideas[i].name +'</td>'+
                            '<td>'+ ideas[i].description +'</td>'+
							'<td><a class="button" href="idea?id='+ ideas[i].id +'">Ver Ideia</a></td>'+
                        '</tr>';

                        tbody.append(projectRow);
                    }
                }).fail(function(status) {
                    if(status.status == "404") tbody.children().remove();
                });
            }
        </script>
        <% include ./components/js_includes %>
        <script>
            var tbody = $("#ideas").children("tbody");

            $(function () {
                filter();
            });
        </script>     
    </body>
</html>