<!DOCTYPE html>
<html>
    <body>
		<div class="container">
			<h1>
				Teste
				5 + 1 = <%= 5 + 1 %>
			</h1>
			<br />
			<a class="button button-primary" href="ideas">Tela de Ideias</a>
			<a class="button button-primary" href="projects">Tela de Projetos</a>
		</div>
        <% include ./components/css_includes %>
    </body>
</html>