<!DOCTYPE html>
<html>
    <body>
		<div class="container">
			<a class="button button-primary" href="ideas">Tela de Ideias</a>
			<a class="button button-primary" href="projects">Tela de Projetos</a>
		</div>
        <% include ./components/css_includes %>
    </body>
</html>