<!DOCTYPE html>
<html>
    <body>
		<div class="container">
			<h1>
				Teste
				5 + 1 = <%= 5 + 1 %>
			</h1>
			<br />
			<button id="btnIdeas" onclick='window.location.href="ideas"'>Tela de Ideias</button>
		</div>
        <% include ./components/css_includes %>
    </body>
</html>