<!DOCTYPE html>
<html>
    <% include ./components/head %>
    <body>
        <form id="loginForm">
            <div id="emailPanel">
                <label for="email">Login: </label>
                <input id="email" name="email" type="email">
                <button id="btnSendEmail">Avançar</button>
            </div>  
        </form>
        <% include ./components/js_includes %>        
        <% include ./components/css_includes %>
    </body>
</html>