<!DOCTYPE html>
<html>
<% include ./components/head %>
    <body>
        <div class="container">
            <% include ./components/header %>
            <h3>Entrar</h3>
            <form id="loginForm">
                <div id="emailPanel">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email">
                    <div>
                        <button class="button-primary">Avançar</button>
                    </div>
                </div>
            </form>
        </div>
        <% include ./components/js_includes %>
    </body>
</html>