<!DOCTYPE html>
<% include ./components/head %>
<html>
    <body>
        <div class="container">
            <% include ./components/header %>
            <h3 id="name"></h1>
            <h4>Líder: <a id="leader"></a></h4>
            <div id="description"></div>
            <div class="row">
                <div class="six columns">
                    <h3>Membros</h3>
                    <table id="participants">
                        <thead>
                            <tr>
                                <th>Membro</th>
                                <th>Função</th>
                                <th>Desde</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="six columns">
                    <h3>Ideias</h3>
                    <table id="ideas">
                        <thead>
                            <tr>
                                <th>Ideia</th>
                                <th>Autor</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
        <% include ./components/js_includes %>
        <script>
            $(function() {
                var params = {
                    id:''
                };

                getParams(params);

                console.log(params);

                $.get("api/GetProject", params, function(project, status) {
                    project = JSON.parse(project)[0];
                    
                    $("#name").text(project.name);                    
                    $("#description").text(project.description);

                    $.get("api/GetProjectParticipants", params, function(participants, status) {
                        participants = JSON.parse(participants);

                        var participantsTable = $("#participants").children("tbody");

                        for(i in participants) {
                            if(participants[i].role == "Líder") {
                                $("#leader").text(participants[i].name).attr("href", "user?id="+ participants[i].id);
                            }

                            var row = '<tr class="tr-hover" data-value="'+ participants[i].id +'">' +
                            '<td>'+ participants[i].name +'</td>' +
                            '<td>'+ participants[i].role +'</td>' +
                            '<td>'+ parseTimestamp(participants[i].dateTimeStart) +'</td>' +
                            '</tr>';

                            participantsTable.append(row);                            
                        }

                        participantsTable.children("tr").on("click", function () {
                            window.location.href = "user?id=" + $(this).attr("data-value");
                        });
                    });

                    $.get("api/GetIdeasFromProject", params, function(ideas, status) {
                        ideas = JSON.parse(ideas);

                        var ideasTable = $("#ideas").children("tbody");

                        for(i in ideas) {

                            var row = '<tr class="tr-hover" data-value="'+ ideas[i].id +'">' +
                            '<td>'+ ideas[i].title +'</td>' +
                            '<td>'+ ideas[i].owner +'</td>' +
                            '</tr>';

                            ideasTable.append(row);                   
                        }

                        ideasTable.children("tr").on("click", function () {
                            window.location.href = "idea?id=" + $(this).attr("data-value");
                        });
                    });
                }).fail(function(status) {
                    if(status.status == "404") {
                        var container = $(".container");
                        container.children().remove();
                        $("body, html, .container").css("height", "100%");
                        container.append('<h1 class="screen-center">Tivemos um problema e não encontramos sua informação. :(</h1>');
                    }
                });
            });
        </script>
    </body>
</html>