<!DOCTYPE html>
<% include ./components/head %>
<html>
    <body>        
		<div class="container">
			<% include ./components/header %>
			<div class="row">
				<a class="button button-primary six columns" href="login">Entrar</a>
				<a class="button button-primary six columns" href="register">Cadastrar-se</a>
			</div>
		</div>        
    </body>
</html>
