<!DOCTYPE html>
<% include ./components/head %>
<html>
    <body>        
		<div class="container">
			<% include ./components/header %>
			<div style="text-align: center;">
				<h5>
					Você não está logado no sistema.
					<br />Entre ou Cadastre-se.
				</h5>
			</div>
			<div class="row">
				<a class="button button-primary six columns" href="login">Entrar</a>
				<a class="button button-primary six columns" href="register">Cadastrar-se</a>
			</div>
		</div>        
    </body>
</html>
