<!DOCTYPE html>
<% include ./components/head %>
<html>
    <body>
        <div class="container">
            <% include ./components/header %>
            <div class="hrz-center">
                <h3 id="name"></h3>
                <div>Está no <span class="info" id="period"></span></div>
                <div>Email <a id="email"></a></div>
                <div>Telefone <span class="info" id="phone"></span></div>                
            </div>
            <div class="row">
                <div class="six columns">
                    <table id="ideas" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Ideia</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="six columns">
                    <table id="projects" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Projeto</th>
                                <th>Fase</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
			<br/><br/>
			<div class="row">
                <div class="six columns">
					<h3 id="titleRequests">Solicitações</h3>
					<table id="requests">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="six columns">
					<h3 id="titleInvitations">Convites</h3>
					<table id="invitations">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
            </div>
        </div>
        <% include ./components/js_includes %>
        <script>
            $(function() {
                var params = {
                    id:''
                };

                getParams(params);

                console.log(params);

                $.get("api/GetUser", params, function(user, status) {
                    user = JSON.parse(user)[0];
                    
                    $("#name").text(user.name + ' ' + user.lastname);
                    $("#period").text(user.period + 'º período');
                    $("#email").text(user.email).attr("href", "mailto:"+user.email);
                    $("#phone").text(user.phone);

                    $.get("api/GetProjectsWithUser", { id: user.id }, function(projects, status) {
                        projects = JSON.parse(projects);

                        var projectsTable = $("#projects").children("tbody");

                        for(i in projects) {
                            var row = '<tr class="tr-hover" data-value="'+ projects[i].id +'">' +
                            '<td>'+ projects[i].name +'</td>' +
                            '<td>'+ projects[i].status +'</td>' +
                            '</tr>';

                            projectsTable.append(row);                            
                        }

                        projectsTable.children("tr").on("click", function () {
                            window.location.href = "project?id=" + $(this).attr("data-value");
                        });
                    });

                    $.get("api/GetIdeasFromUser", { id: user.id }, function(ideas, status) {
                        ideas = JSON.parse(ideas);

                        var ideasTable = $("#ideas").children("tbody");

                        for(i in ideas) {
                            var row = '<tr class="tr-hover" data-value="'+ ideas[i].id +'">' +
                            '<td>'+ ideas[i].title +'</td>' +
                            '<td>'+ ideas[i].description +'</td>' +
                            '</tr>';

                            ideasTable.append(row);                            
                        }

                        ideasTable.children("tr").on("click", function () {
                            window.location.href = "idea?id=" + $(this).attr("data-value");
                        });
                    });
					
					$.get("api/GetUserRequests", { id: user.id }, function(requests, status) {
                        requests = JSON.parse(requests);

                        var requestsTable = $("#requests").children("tbody");
						
                        for(i in requests) {

                            var row = '<tr>' +
                            '<td>'+
								'<b><a href="project?id='+ requests[i].idProject +'">'+ requests[i].project +'</a></b>'+
								'<br/><b>Você escreveu: </b>'+ requests[i].comment +
							'</td>'+
							'<td>'+
								'<button onclick="deleteRequest('+ requests[i].id +')">Cancelar</button>'+
							'</td>'+
                            '</tr>';

                            requestsTable.append(row);                   
                        }
                    }).fail(function(status) {
						var requestsTable = $("#requests").children("thead");
						requestsTable.children().remove();
						requestsTable.append('<tr><th>Nenhuma solicitação pendente</tr></th>');
					});
					
					$.get("api/GetUserInvitations", { id: user.id }, function(invitations, status) {
                        invitations = JSON.parse(invitations);

                        var invitationsTable = $("#invitations").children("tbody");
						
                        for(i in invitations) {

                            var row = '<tr>' +
                            '<td>'+
								'<b><a href="project?id='+ invitations[i].idProject +'">'+ invitations[i].project +'</a></b>'+
								'<br/><b>Enviado por: <a href="user?id='+ invitations[i].idSender +'">'+ invitations[i].sender +'</a></b>'+
								'<br/>'+ invitations[i].comment +
							'</td>'+
							'<td>'+
								'<button onclick="acceptInvite('+ invitations[i].id +')">Aceitar</button>'+
								'<button onclick="refuseInvite('+ invitations[i].id +')">Recusar</button>'+
							'</td>'+
                            '</tr>';

                            invitationsTable.append(row);                   
                        }
                    }).fail(function(status) {
						var invitationsTable = $("#invitations").children("thead");
						invitationsTable.children().remove();
						invitationsTable.append('<tr><th>Nenhum convite pendente</tr></th>');
					});
                }).fail(function(status) {
                    if(status.status == "404") {
                        var container = $(".container");
                        container.children().remove();
                        $("body, html, .container").css("height", "100%");
                        container.append('<h1 class="screen-center">Tivemos um problema e não encontramos sua informação. :(</h1>');
                    }
                });
            });
        </script>
    </body>
</html>