textarea {
    resize: vertical;
}

.group {
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

.hrz-center {
    margin: auto;
    text-align: center;
}

.screen-center {
    height: 100%; 
    width:100%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tr-hover:hover {
    background-color: #efefef;
}

.info {
    color: #1EAEDB;
}