textarea {
    resize: vertical;
}

.group {
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

.hrz-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.screen-center {
    height: 100%; 
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-hover:hover {
    background-color: #efefef;
}

.info {
    color: #1EAEDB;
}

.header-title:hover {
    color: black;
}

.header-title {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
}

.result-list {    
    margin-top: -1.5rem;
    list-style: none; 
}

.result-list li {
    margin-bottom: 0;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}
