textarea {
    resize: vertical;
}

.group {
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

.hrz-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.screen-center {
    height: 100%; 
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tr-hover:hover {
    background-color: #efefef;
}

.info {
    color: #1EAEDB;
}

.header-title:hover {
    color: black;
}

.header-title {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
}